CompileFlags:  
  Add:    
    - "-std=gnu++14"
    - "-DBOOST_ALL_NO_LIB"
    - "-DVIESCHEDPP_LOG"
    - "-DWITH_GUROBI"
    - "-I/home_domuser/s65hlewi/VieSchedpp/VieSchedpp/SYSTEM"
    - "-I/home_domuser/s65hlewi/VieSchedpp/gurobi/include"
    - "-isystem"
    - "/home_domuser/s65hlewi/VieSchedpp/boost/include"
    - "-fopenmp"
    - "-g"
    - "-D_GLIBCXX_USE_CXX11_ABI=1"
    - "-isystem"
    - "/usr/include/c++/11"
    - "-isystem"
    - "/usr/include/x86_64-linux-gnu/c++/11"
    - "-isystem"
    - "/usr/include/c++/11/backward"
    - "-isystem"
    - "/usr/lib/gcc/x86_64-linux-gnu/11/include"
    - "-isystem"
    - "/usr/local/include"
    - "-isystem"
    - "/usr/include/x86_64-linux-gnu"
    - "-isystem"
    - "/usr/include"
Diagnostics:
  Suppress:
    - "**/boost/**"